<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kdx.install"
    android:sharedUserId="android.uid.system"
    >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service
            android:name="com.kdx.install.InstallService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kdx.install.INSTALL_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>